@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap);

*, ::after, ::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background: #fafafa;
    color: #303436;
    font-family: Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

main {
    padding: 1rem 0;
}
@media print, screen and (min-width: 40em) {
    main {
        padding: 2rem 0;
    }
}

h1 {
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 0;
    text-rendering: optimizeLegibility;
}

table {
    border: 1px solid #798086;
    border-radius: 0.25rem;
    border-spacing: 0;
    width: 100%
}

table th {
    font-weight: 700;
}

table td,
table th {
    padding: 0.5rem 1rem;
    text-align: left;
}

table tr:not(:last-child) td,
table tr:not(:last-child) th {
    border-bottom: 1px solid #798086;
}

form {
    width: 100%;
}

label {
    color: #0a0a0a;
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.8;
    margin: 0;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="datetime"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea {
    appearance: none;
    background-color: #fafafa;
    border: 1px solid #798086;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
    box-sizing: border-box;
    color: #0a0a0a;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    height: 2.4375rem;
    line-height: 1.5;
    margin: 0 0 1rem;
    padding: 0.5rem;
    transition: box-shadow 0.5s,border-color 0.25s ease-in-out;
    width: 100%;
}

[type="color"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="datetime"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
textarea:focus {
    background-color: #fafafa;
    border: 1px solid #61666b;
    box-shadow: 0 0 5px #798086;
    outline: none;
    transition: box-shadow 0.5s,border-color 0.25s ease-in-out;
}

div.actions,
td.actions {
    text-align: right;
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.grid-x {
    display: flex;
    flex-flow: row wrap;
}

.grid-container > .grid-padding-x {
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}

.grid-padding-x > .cell {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.button {
    background-color: #012d5a;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #fafafa;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: .9rem;
    line-height: 1;
    margin: 0 0 1rem;
    padding: .85em 1em;
    text-align: center;
    text-decoration: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
}

.button.alert {
    background-color: #e54242;
    color: #fafafa;
}

.button.alert:focus,
.button.alert:hover {
    background-color: #cf1d1d;
    color: #fafafa;
}

.button.hollow {
    background-color: transparent;
    border: 1px solid #012d5a;
    color: #012d5a;
}

.button.hollow.alert {
    border: 1px solid #e54242;
    color: #e54242;
}

.button.hollow:focus,
.button.hollow:hover {
    border-color: #01172d;
    color: #01172d;
}

.button.hollow.alert:focus,
.button.hollow.alert:hover {
    border-color: #811212;
    color: #811212;
}

table .button{
    margin-bottom: 0;
}

.login {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login form {
    align-self: stretch;
}

.login h1 {
    font-family: "Montserrat", arial, sans-serif;
    font-size: 2rem;
}

.login .crest {
    background-image: url(/images/logo-2516@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
    width: 75px;
}

[type="submit"].github {
    align-items: center;
    background: #1f2328;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #ffffff;
    display: flex;
    font-size: 0.9rem;
    gap: 0.75rem;
    justify-content: center;
    line-height: 1;
    margin-bottom: 1rem;
    padding: 0.8em 1em;
    width: 100%;
}

[type="submit"].github img {
    height: 1rem;
}

[type="submit"].github:hover {
    cursor: pointer;
}

@media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
    .login .crest {
        background-image: url(/images/logo-2516@1x.png);
    }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
    .login .crest {
        background-image: url(/images/logo-2516@3x.png);
    }
}

@media (-webkit-min-device-pixel-ratio: 4), (min-resolution: 4dppx) {
    .login .crest {
        background-image: url(/images/logo-2516@4x.png);
    }
}

@media print, screen and (min-width: 40em) {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .grid-container {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }

    .grid-container > .grid-padding-x {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }

    .grid-padding-x > .cell {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }

    .login {
        border: 1px solid #9fa4a8;
        border-radius: 0.25rem;
        margin-left: 25%;
        margin-top: 3rem !important;
        width: 50%;
    }
}

@media print, screen and (min-width: 64em) {
    .login {
        margin-left: 33.3333333333%;
        width: 33.3333333333%;
    }
}
