name: 'Build actions'
on: push
jobs:
    diff:
        outputs:
            files: ${{ steps.diff.outputs.files }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 2

            - name: Check diff
              id: diff
              run: 'echo "files=$(git diff --name-only ${{ github.event.before }} ${{ github.event.after }} -- actions/*.ts actions/**/*.ts | wc -l)" >> $GITHUB_OUTPUT'
    build:
        needs: diff
        if: ${{ needs.diff.outputs.files != 0 }}
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 24

            - name: Install npm dependencies
              run: npm ci

            - name: Build actions
              run: npm run build

            - run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
                  git add actions
                  git commit -m "Build actions"
                  git push
